*
{
    margin:0;
    padding: 0;
    border: 0;
    font-size: 100%; 
    font-family: 'Montserrat', sans-serif;
}
body
{
    background-color:rgb(218, 214, 214);
}

.background
{
    background-image: url(../images/purplebackground.jpg);
}
.mushroomLogo
{
    height: 100px;
}
.indeximage
{
    height: 400px;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

h1.first
{
    color: rgb(228, 223, 236);
}
#foottext
{
   font-style: italic;
   font-family: monospace;
   background-color: white;
   width: 100%;;
}